:root {
    --laranja: #f18c22;
    --azul: #2f709a;
    --amarelo: #f6bc3f;
    --bege: #fff3dd;
}
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bege);
    font-family: Arial, sans-serif;
}
/* NAVBAR */
.navbar {
    background-color: var(--bege);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar a {
    text-decoration: none;
    color: var(--azul);
}

.navbar button {
    background-color: var(--laranja);
    color: var(--bege);
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
}

/* TÍTULO */
.contribua-titulo {
    padding: 4rem;
    text-align: center;
}

.contribua-titulo h1 {
    color: var(--azul);
    font-size: 2.5rem;
}

/* SECTIONS */
section {
    padding: 3rem 0;
}

.conteudo {
    width: 70%;
    margin: 0 auto;
}

.section-contribuir h2 {
    color: var(--azul);
}

.section-transparencia h2 {
    color: var(--laranja);
}

section p {
    margin-top: 1rem;
    line-height: 1.6;
}

/* FORMAS */
.formas h2 {
    color: var(--azul);
}

.card {
    margin-top: 3rem;
    padding: 2.5rem;
    border-radius: 14px;
}

.card h3 {
    margin-bottom: 1rem;
}

.card button {
    margin-top: 1.5rem;
    padding: 0.6rem 1.4rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* CORES DAS CAIXAS */
.associado {
    background-color: var(--azul);
    color: var(--bege);
}

.associado button {
    background-color: var(--amarelo);
    color: var(--azul);
}

.benfeitor {
    background-color: var(--amarelo);
    color: var(--azul);
}

.benfeitor button {
    background-color: var(--azul);
    color: var(--bege);
}

.dinheiro {
    background-color: var(--laranja);
    color: var(--bege);
}

.dinheiro button {
    background-color: var(--bege);
    color: var(--laranja);
}

/* FOOTER */
footer {
    background-color: var(--azul);
    color: var(--bege);
    padding: 40px 0px 0px 90px
}

.rodape {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 40px;
}

.conteudo-rodape {
    display: flex;
    justify-content: center; 
    gap: 200px;            
    align-items: flex-start;
}

.colunas-rodape {
    width: 320px; 

}
.colunas-rodape p{
    margin-bottom: 10px;
}

.colunas-rodape a {
    text-decoration: none;
    color: var(--bege);
}

.local-rodape {
    width: 300px;
    text-align: center;
    max-width: 320px;
}

.colunas-rodape h4, .local-rodape h4 {
    margin-bottom: 10px;
}

.img-icones img {
    margin-right: 15px;
    max-width: 50px;
    cursor: pointer;
}

.direitos-rodape {
    padding-top: 40px 0px;
    text-align: center;
}
