/* Cores da marca */
:root {
    --laranja: #f18c22;
    --azul: #2f709a;
    --amarelo: #f6bc3f;
    --bege: #fff3dd;
    --altura: 160px;
}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* fundo do body - box em colunas  */
body {
    background-color:rgb(255, 243, 222);
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    font-weight: 500; /* Medium */
}

/*todos os h2 recebem este tamanho*/
h2 {
    font-size: 2rem;
}

/*Garante que a página ocupe toda a largura da tela*/
html, body {
  width: 100%;
}

/* botão do site alinhado, porém foi deslocado para o lado esquerdo */
.navbar-site {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    align-items: center;
    justify-content: space-between;
}
.navbar-site ul {
    list-style: none;
    font-family: 'Nunito', sans-serif;
    display: flex;
    gap: 1rem;
    padding: 50px;
}
.navbar-site a {
    text-decoration: none;
    color: var(--bege);
}
.img-vr {
    width: 200px;
    height: auto;
    margin-right: 2rem;
    padding-left: 50px;
}
/*.nav-item a:hover {
    background-color: var(--amarelo);
    color: var(--bege);
    text-decoration: none;
} */


/* botão do site alinhado com o texto, porém foi deslocado para o lado esquerdo */
.nav-button{
    background-color:  var(--laranja);
    text-decoration: none;
    color: var(--bege);
    padding: 0.6rem 1rem; 
    border-radius: 0.4rem;
    font-weight: bold;
    align-items: center;
}

.nav-button:hover{
    background-color: var(--azul);
    transform: scale(1.05);
}

/*container da tag main; ajusta as propriedas do resto do corpo sem mexer na home e no footer*/
.container {
  margin: 0px;
  padding: 0px;
}

/*adicionar a foto no fundo da home*/
.site-home {
    position: relative;
    width: 100%;  /* Ocupa toda a largura da tela */
    min-height: 550px; /* Altura mínima igual à altura da tela */

    background-image:
    linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), /*adiciona o overlay;*/
    url("../img/foto-home2.png");

    background-size: 100% 100%;  /* Faz a imagem cobrir toda a área */
    background-position: center;
    background-repeat: no-repeat;
}

/*organiza o texto da home*/

.home-titulo {
    color: var(--bege);

    margin-left: 50px;
    margin-top: 80px;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
}

#p-home {
    max-width: 855px;
    font-size: 18px;
}

/*alinha o botão da home com o texto*/
.bnt-video {
    margin-left: 50px;
    margin-top: 40px;
}

/*organiza as propriedades do botão da home: assistir video*/
.bnt-video button {
    padding: 10px 25px;
    border: 0;
    border-radius: 0.4rem;

    background-color: var(--amarelo);
}

/*mexe nas propriedades do texto do botão*/
.bnt-video button a {
    text-decoration: none;
    color: var(--bege);
    font-weight: bold;
    font-size: 18px;
}

.bnt-video button:hover {
    background-color: var(--azul);
}

/*class da section*/

.quem-somos {
    width: 100%;
    height: 500px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*imagem do quebra cabeça*/
#img-peca img {
    margin-left: 60px;
    margin-top: 45px;
    width: 420px;

}

/*altera na div dos textos*/
.texto-quemS {
    max-width: 700px;
    margin-right: 100px;
    margin-top: 35px;
}

/*altera apenas no paragrafos da div dos texto, deixando eles com 20px de espaçamento */
.texto-quemS p {
    padding-top: 20px;
    text-align: justify;
}

.texto-quemS h2 {
    color: var(--azul);
    padding-bottom: 15px;
}

/*altera apenas o espaço entre o último p e o botão*/
.bnt-saiba {
    padding-top: 30px;
}

/*altera apenas o texto do botão*/
.bnt-saiba button a {
    text-decoration: none;
    color: var(--bege);
}

/*botões de sobre e eventos com hover*/
.bnt-saiba button:hover, .bnt-event button:hover {
    background-color: var(--azul);
}

/*eventos*/

.div-event {
    padding: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto-event h2 {
    display: flex;
    justify-content: center;

    color: var(--amarelo);
}

.texto-event p {
    display: flex;
    justify-content: center;
    text-align: center;

    max-width: 2000px;
    margin: 35px 50px 40px 50px;

}

/*div que contem todas as imagens dos eventos, deixando elas centralizadas*/
.img-event {
    display: flex;
    align-items: center;
    gap: 4rem;
    
    overflow-x: auto;      /* permite deslizar pro lado */
    scroll-snap-type: x mandatory; /* esse é uma propriedade que faz com que os elementos se alinhem automaticamente ao rolar */

    max-width: 1000px; 
    width: 100%;

    scroll-behavior: smooth; 
}

/* Remove a barra de rolagem do Chrome */
.img-event::-webkit-scrollbar { 
    display: none;
}
/* Remove a barra de rolagem do IE e Firefox*/
.img-event {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/*a div do evento de carnaval para que o fundo fique com cor*/
#carnaval {
   width: 350px;
   height: 350px;

   color: var(--bege);
   text-align: center;

   background-color: var(--azul);
   padding-bottom: 50px;
   border-radius: 0.4rem;
   
   flex: 0 0 auto;        /* impede de encolher */
   scroll-snap-align: center; /* faz com que o elemento se alinhe ao centro ao rolar */
}

#carnaval p, #mae p, #criancas p{
    font-weight: bold;
    padding-top: 10px;
    
}
#corrida p, #bombeiro p {
    font-weight: bold;
    max-width: 220px;

    margin: auto;
}

/*a imagem do evento de carnaval dentro do background*/
#carnaval img {
     width: 100%;
     height: 100%;
     object-fit: cover; 
     border-radius: 0.4rem 0.4rem 0 0;  
}

#mae {
    width: 350px;
    height: 350px;

    color: var(--bege);
    text-align: center;

    background-color: var(--laranja);
    padding: 0px 0px 50px 0px;
    border-radius: 0.4rem;

    flex: 0 0 auto;        
    scroll-snap-align: center;
}

#mae img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem 0.4rem 0 0;
}

#criancas {
    width: 350px;
    height: 350px;

    color: var(--bege);
    text-align: center;

    background-color: var(--amarelo);
    padding: 0px 0px 50px 0px;
    border-radius: 0.4rem;

    flex: 0 0 auto;        
    scroll-snap-align: center;
}

#criancas img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem 0.4rem 0 0;
}

#corrida {
    width: 350px;
    height: 350px;

    color: var(--bege);
    text-align: center;

    background-color: var(--azul);
    padding: 0px 0px 50px 0px;
    border-radius: 0.4rem;

    flex: 0 0 auto;        
    scroll-snap-align: center;
}
#corrida img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem 0.4rem 0 0;
}

#bombeiro {
    width: 350px;
    height: 350px;

    color: var(--bege);
    text-align: center;

    background-color: var(--laranja);
    padding: 0px 0px 50px 0px;
    border-radius: 0.4rem;

    flex: 0 0 auto;       
    scroll-snap-align: center;
}
#bombeiro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.4rem 0.4rem 0 0;
}

/*faz as setas ficarem ao lado das imagens*/
.container-event {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
/*altera as propriedades do botão que tem as imagens das setas*/
#voltar-bnt, #prox-bnt {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
/*altera apenas as imagens*/
#voltar-bnt img, #prox-bnt img {
    width: 100%;
    height: 100%;
}
/*para que a seta fique virada para a esquerda*/
#voltar-bnt {
    transform: rotate(180deg);
}

/*botão de eventos*/
.bnt-event {
    display: flex;
    justify-content: center;

    gap: 4.5rem;          
    padding-top: 40px;

    max-width: 1200px;  
    width: 100%;
}
/*propriedades do botão*/
.bnt-event button {
    min-width: 260px;
}
.bnt-event button a {
    text-decoration: none;
    color: var(--bege);
}

/* thaiza - Class Contribua com a amaq -- items na horizontal -- espaçamentos de 60px para esquerda
e 20px para cima */
.div-contribua { 
    display: flex;
    padding-left: 60px;
    padding-top: 20px

}
/*thaiza - Os textos assumem 50% dentro do pai "div-contribua"
adicionado em h2 cores da marca */
.texto-contribua {
    width: 50%;
}
.texto-contribua h2{
    color: var(--laranja);
    padding-bottom: 15px;
}
.texto-contribua p {
    padding-top: 20px;
    text-justify:auto;
}
/*thaiza - imagem em outra div para mexer melhor no estilo dela*/
.div-img-contribua {
    align-items: center;
    padding-left: 10%;
}
.div-img-contribua img {
    width: 350px;
    margin-left: 50px;
}

/*botão contribua com a AMAQ*/
.div-contribua button {
    justify-content: center;
    padding-top: 50px;
    
/*propriedades do botão*/
    padding: 10px 20px;
    margin-top: 25px;
    border: 0;
    border-radius: 0.4rem;

    text-align: center;

    background-color: var(--laranja);
    color: var(--bege);

    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

/* Bloco Profissionais*/
.div-profissionais {
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 50px;

    h2 {
        color: var(--azul);
        padding-bottom: 15px;
    }
    p {
        padding-top: 20px;
    }
}
/* Filho do bloco profissionais ajuste dos backgrounds das divs -- 
    Div */

.div-profissionais {
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 50px;

    h2 {
        color: var(--azul);
        padding-bottom: 15px;
    }
    p {
        padding-top: 20px;
    }
}
/* Filho do bloco profissionais ajuste dos backgrounds das divs -- 
    Div */
.div-profissionais-bloco {

    display: flex;

    p {
        padding: 0;
    }
    
    div {
        div{
            margin-top: 50px;
            margin-left: 15px;
            margin-right: 25px;
            border-radius: 0.4rem;
            padding-left: 10px;
            padding-right: 0px;;

            div {
                 margin-top: 0;
                 width: 50%;
            }
            img{
                width: auto;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-left: 10%; margin-right: 0px;
            }
        }
    }

}

.div-profissionais-bloco h3 {
    color: var(--bege);
}
.div-medico {
   
    display: flex;
    background-color: var(--laranja);
    height: var(--altura);


    p {
        text-align: left;
        color: var(--bege);
        padding-bottom: 20px;
    }
     h3 {
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    div {
        width: 50%;

    }
}
.div-psicologo {
    display: flex;
    background-color: var(--azul);
    height: var(--altura);


    p {
        text-align: left;
        color: var(--bege);
        padding-bottom: 20px;
    }
     h3 {
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    div {
        width: 50%;
    }
}
.div-psi {
    display: flex;
    background-color: var(--azul);
    height: var(--altura);


    p {
        text-align: left;
        color: var(--bege);
        padding-bottom: 20px;
    }
    h3 {
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    div {
        width: 50%;
    }
}
.div-fono {
    display: flex;
    background-color: var(--amarelo);
    height: var(--altura);

    p {
        text-align: left;
        color: var(--bege);
        padding-bottom: 20px;
    }
    h3 {
        text-align: left;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    div {
        width: 50%;
    }
}

/* button-default - contribua - profissionais - parceiros */
.button-default {

    justify-content: center;
    padding-top: 50px;
    
    /*propriedades do botão*/
    padding: 10px 20px;
    margin-top: 25px;
    border: 0;
    border-radius: 0.4rem;

    text-align: center;

    background-color: var(--laranja);
    

    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 1rem;

    a{
        text-decoration: none;
        color: var(--bege);
    }
}
/*transformar minimamente o tamanho do botão e mudar a cor */
.button-default:hover{
    background-color: var(--azul);
    transform: scale(1.05);
}
/* parceiros */
.section-parceiro {
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-top: 50px;

    h2 {
        color: var(--amarelo);
        padding-bottom: 15px;
    }
    p {
        padding-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

.imagens-parceiros {
    display: flex;
    align-items: center;
    padding-top: 40px;
    img{
        margin-left: 10px;
        margin-right: 10px;
        width: 150px;
    }
}
#button-parceiro {
    margin-bottom: 40px;
    margin-top: 40px;
    a{
        text-decoration: none;
        color: var(--bege);
    }
}

/*rodapé*/
.rodape {
    background-color: var(--azul);
    color: var(--bege);
    padding: 0.95rem 6rem 2rem;
}
.conteudos {
    width: 100%;
    max-width: 1250px;
    margin-right: 100px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}
.rodape h4 {
    margin-bottom: 0.5rem;
}
.rodape p {
    line-height: 1.6;
}

/*contatos*/
.contatos-rodape {
    position: relative;
    top: 1.5rem;
}
.contatos-rodape h4 {
    text-align: left;
}
.contatos-rodape p {
    padding-bottom: 0.35rem;
}
.contatos-rodape {
    text-align: left;
    margin-right: 3rem;
}

/*localização*/
.local-rodape {
    width: 300px;
    text-align: center;
    max-width: 320px;
    position: relative;
    top: 1.5rem;
    left: -4.0rem;
}
.local-rodape p {
    text-align: center;
}

/*icones*/
.redes-rodape {
    position: relative;
    top: 1.5rem;
}
.redes-rodape img:hover {
    transform: scale(1.1);
}
.redes-rodape h4 {
    text-align: right;
    margin-right: 2rem;
}
.redes-rodape img {
    margin-right: 15px;
    max-width: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

/*direitos*/
.direitos-rodape {
    text-align: center;
    margin-left: 2rem;
    margin-top: 2rem;
    font-size: 1rem;
}


#div-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.video-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    video {
        width: 100%;
        border-radius: 8px;
    }
}

#fechar-video{
    position: absolute;
    top: -35px;
    right: 0;
    background-color: black;
    border: none;
    color: #ffff;
    font-size: 24px;
    cursor: pointer;
}

.section-parceiro{
    margin-left: 10px;
    margin-right: 10px;
}