:root {
    --laranja: #f18c22;
    --azul: #2f709a;
    --amarelo: #f6bc3f;
    --bege: #fff3dd;
}
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bege);
    display: flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}

html, body {
  width: 100%;
}

/* NAVBAR */
.navbar-site {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    align-items: center;
    justify-content: space-between;
}
.navbar-site ul {
    list-style: none;
    font-family: 'Nunito', sans-serif;
    display: flex;
    gap: 1rem;
    padding: 50px;
}

.nav-item a {
    text-decoration: none;
    color: var(--azul);
    font-weight: bold;
}

#nav-button a {
    text-decoration: none;
    color: var(--bege);
}
.img-vr {
    width: 200px;
    height: auto;
    margin-right: 2rem;
    padding-left: 50px;
}
/*.nav-item a:hover {
    background-color: var(--amarelo);
    color: var(--bege);
    text-decoration: none;
} */

/* botão do site alinhado com o texto, porém foi deslocado para o lado esquerdo */
#nav-button{
    background-color:  var(--laranja);
    text-decoration: none;
    color: var(--bege);
    padding: 0.6rem 1rem; 
    border-radius: 0.4rem;
    font-weight: bold;
    align-items: center;
}

#nav-button:hover{
    background-color: var(--azul);
}


/* TÍTULO */
.contribua-titulo {
    padding: 4rem;
    text-align: center;
}

.contribua-titulo h1 {
    color: var(--azul);
    font-size: 2.5rem;
}

.contribua-titulo h2 {
    color: var(--azul)
}

.conteudo-principal {
    flex: 1;
}

/* SECTIONS */
main section {
    padding: 1rem;
}

.conteudo {
    width: 70%;
    margin: 0 auto;
}

.section-contribuir h2 {
    color: var(--azul);
}

.section-transparencia h2 {
    color: var(--laranja);
}

section p {
    margin-top: 1rem;
    line-height: 1.6;
}

.conteudo p {
    text-align: justify;
}

/* FORMAS */
.formas h2 {
    color: var(--azul);
}

.card {
    margin-top: 2rem;
    padding: 2.5rem;
    border-radius: 14px;
    text-align: center;
}

.card h3 {
    margin-bottom: 1rem;
}

.card button {
    margin-top: 1.5rem;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px
}

/* CORES DAS CAIXAS */
.associado {
    background-color: var(--azul);
    color: var(--bege);
}

.associado button {
    background-color: var(--amarelo);
    color: var(--bege);
}

.associado button:hover{
    transform: scale(1.05);
}

.benfeitor {
    background-color: var(--amarelo);
    color: var(--bege);
}

.benfeitor button {
    background-color: var(--azul);
    color: var(--bege);
}

.benfeitor button:hover{
    transform: scale(1.05);
}

.dinheiro {
    background-color: var(--laranja);
    color: var(--bege);
}

.dinheiro button {
    background-color: var(--bege);
    color: var(--laranja);
}

#pix {
    margin-left: 15px;
    font-weight: bold;
}

#pix h3 {
    text-align: left;
    padding-top: 3rem;
}

#pix p {
    text-align: left;
    margin: 0.2rem 0;
}

#qrcode {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: 50px;
    margin-top: -145px;
}

/* FOOTER */
.rodape {
    background-color: var(--azul);
    color: var(--bege);
    padding: 0.95rem 2rem 2rem;
}

.footer-grid {
    width: 100%;
    max-width: 1250px;
    margin-right: 100px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.rodape h4 {
    margin-bottom: 0.5rem;
}

.contatos {
    position: relative;
    top: 1.5rem;
}

.contatos h4 {
    text-align: left;
}

.contatos p {
    padding-bottom: 0.35rem;
}

.localizacao {
    width: 300px;
    text-align: center;
    max-width: 320px;
    position: relative;
    top: 1.5rem;
    left: -4.5rem;
}

.localizacao p {
    text-align: center;
}

.rodape p {
    line-height: 1.6;
}

.contatos {
    text-align: left;
}

.img-icones {
    position: relative;
    top: 1.5rem;
}

.img-icones img:hover {
    transform: scale(1.1);
}

.img-icones h4 {
    text-align: right;
    margin-right: 2rem;
}

.img-icones img {
    margin-right: 15px;
    max-width: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
}


.direitos {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
}