/* Cores da marca */
:root {
    --laranja: #f18c22;
    --azul: #2f709a;
    --amarelo: #f6bc3f;
    --bege: #fff3dd;
}
* {
    margin: 0.5rem;
    padding: 0.5px;
    box-sizing: content-box;
}
/* fundo do body - box em colunas  */
body {
    background-color:rgb(255, 243, 222);
    display: flex;
    flex-direction: column;
    padding: 15px 30px;

}
.navbar-site {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    align-items: center;
}
.navbar-site ul {
    list-style: none;
    display: flex;
    gap: rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-site a {
    text-decoration: none;
    padding: 0.5rem 2rem;
}
/*.nav-item a:hover {
    background-color: var(--amarelo);
    color: var(--bege);
    text-decoration: none;
} */

.nav-button{
    radius: 5px;
    background-color:  var(--amarelo);
    text-decoration: none;
    color: var(--bege);
    padding: 0.6rem 1rem;
    border-radius: 0.4rem;
    font-weight: bold;
}
.nav-button:hover{
    background-color: var(--azul);
    /*transform: scale(1.05);*/
}


