<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sobre a AMAQ</title>

    <!-- CSS GLOBAL (usado em todo o site) -->
    <link rel="stylesheet" href="../../css/style.css">

    <!-- CSS ESPECÍFICO DA PÁGINA SOBRE -->
    <link rel="stylesheet" href="../../css/sobre.css">

    <!-- Fontes (se quiser reutilizar as mesmas da home) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap" rel="stylesheet">
    
</head>


<body>
<header class="home">
    <!--Navbar-->
    <div class="site-navbar">
        <nav class="navbar-site">
            <img src="../../img/vers%C3%A3o%20reduzida%20%28horizontal%29.png" class="img-vr">
            <ul class="nav-list">
                <li class="nav-item"><a href="../index.html">Home</a></li>
                <li class="nav-item"><a href="">Associados</a></li>
                <li class="nav-item"><a href="">Ser parceiro</a></li>
                <li class="nav-item">
                    <a href="../contri.html" class="nav-button">Contribua com a AMAQ</a>
                </li>
            </ul>
        </nav>


<!--Membros-->

   <section id="membros-section">
    <h2 id="h2-membros">Membros</h2>
    <div id="card"></div>
</section>
<script src="../../js/script.js"></script>

    <!--Membros-->

       

</body>
</html>
