<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-contribuicao.css">
    <link rel="icon" href="img/casinha-bege.png"> <!--Para colocar o icone na barra do site-->
    <!-- thaiza -> link da fonte do projeto - pode ser usado no outro html -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Contribuição</title>
</head>

<body>

<header class="home">
    <!--Navbar-->
    <div class="site-navbar">
            <nav class="navbar-site">
                <img src="/img/versão reduzida (horizontal).png" class="img-vr"> 
                <ul class="nav-list">
                    <li class="nav-item"><a href="../index.html">Sobre</a></li>
                    <li class="nav-item"><a href="">Associados</a></li>
                    <li class="nav-item"><a href="">Ser parceiro</a></li>
                    <li class="nav-item">
                        <a href="contri.html"id="nav-button">Contribua com a AMAQ</a>
                    </li>
                </ul>
            </nav>
        </div>
    <!--Cabeçalho contribua-->
    <div class="contribua-titulo">
        <h1>Contribua com a gente</h1>
    </div>
</header>
<!--Por que contribuir-->
<main class="conteudo-principal">
<section class="section-contribuir">
    <div class="conteudo">
        <h2>Por que contribuir?</h2>
        <p> Contribuir com a AMAQ é fazer parte de uma rede de cuidado, inclusão e transformação social. Cada doação fortalece ações essenciais, como atendimentos psicológicos, psicopedagógicos, fonoaudiológicos e médicos, além de campanhas educativas, eventos de conscientização e a arrecadação de equipamentos de apoio. Esses recursos são fundamentais para garantir mais qualidade de vida, autonomia e dignidade às pessoas atendidas. Ao contribuir, você também apoia o sonho da implantação de um Centro de Atendimento Multidisciplinar, ampliando o acesso a serviços especializados no Sertão Central cearense e ajudando a combater o preconceito por meio da informação e da inclusão.</p>
        <p>Toda contribuição, independentemente do valor, é integralmente destinada à manutenção e ao desenvolvimento dos projetos da AMAQ. Juntos, podemos construir uma sociedade mais justa, empática e inclusiva, onde as pessoas portadoras do TEA tenham seus direitos respeitados e suas potencialidades reconhecidas.</p>
    </div>
</section>
<!--Transparência do dinheiro-->
<section class="section-transparencia">
    <div class="conteudo">
        <h2>Saiba para onde está indo sua contribuição</h2>
        <p>Os recursos arrecadados são utilizados, principalmente, para custear despesas básicas e indispensáveis, como o aluguel da sede, contas de energia elétrica, água, internet e demais custos operacionais. Esses gastos garantem um espaço seguro e estruturado para o acolhimento das famílias, a realização de atendimentos e o desenvolvimento das atividades da associação. Além disso, as doações viabilizam a realização de eventos, ações de conscientização e campanhas educativas, bem como o apoio logístico necessário para trazer profissionais, ampliar o número de atendimentos especializados e oferecer consultas que promovem o desenvolvimento, o bem-estar e a qualidade de vida das pessoas atendidas.</p>
        <p>Cada contribuição também fortalece os projetos sociais da AMAQ e aproxima a associação do objetivo de ampliar seus serviços, incluindo a implantação de um Centro de Atendimento Multidisciplinar. Ao doar, você ajuda a transformar recursos em cuidado, inclusão e esperança para dezenas de famílias.</p>

    </div>
</section>
<!--Formas de contribuir-->
<!--Texto antes das caixas-->
<section class="formas">
    <div class="conteudo">
        <h2>Formas de contribuição</h2>
        <p>Existem diversas maneiras de contribuir com a AMAQ e fortalecer nossas ações.</p>

        <article class="card associado">
            <h3>Associado</h3>
            <p>Ao se tornar associado, você contribui para a continuidade dos projetos da associação.</p>
            <button>Seja um associado</button>
        </article>

        <article class="card benfeitor">
            <h3>Benfeitor</h3>
            <p>Apoie a AMAQ de forma contínua e ajude a fortalecer nossas ações sociais.</p>
            <button>Ser benfeitor</button>
        </article>

        <article class="card dinheiro">
            <h3>Contribuição em dinheiro</h3>
            <p> As doações financeiras são utilizadas para atendimentos médicos, psicológicos e ações de conscientização.</p>
        </article>

    </div>
</section>
</main>
<!--Rodapé-->
<footer class="rodape">
    <div class="conteudo footer-grid">
        <!--contato-->
        <div>
            <h4>Contato</h4>
            <p>(88) 9.9341-0517</p>
            <p>casadoautistaquixada@gmail.com</p>
        </div>
        <!--localização-->
        <div>
            <h4>Localização</h4>
            <p>Rua Raimundo Gomes de Oliveira, 338 - Quixadá</p>
        </div>
        <!--redes sociais-->
        <div>
            <h4>Redes sociais</h4>
            <p>Instagram e WhatsApp</p>
        </div>
    </div>
    <p class="direitos">
        © 2026 - Associação de Mães e Autistas de Quixadá - Ceará
    </p>
</footer>

</body>
</html>
